*{margin:0px;padding:0px;}
body { font: 12px/1.5 'Microsoft Yahei', 'Simsun'; color: #666666; background: #fff }
img { border: 0; display: block }
ul { list-style: none; }
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: normal; }
a { outline: none; }
a:link, a:visited { text-decoration: none; color: #666 }
a:hover { text-decoration: none; }
.f_l{float:left;}
.f_r{float:right;}
.l_box{width:670px;}
.r_box{width:300px;}

.content 
    position:relative
    margin:0 auto
    width:100%
    max-width:1000px
input, button, select, textarea 
    outline: none
    -webkit-appearance: none
    border: 0
.view-contaner
    width:60%
    margin: 0 auto
    margin-top: 80px
 .mask-container 
    line-height: 2
    color: #FFEFAF
    position: fixed
    left: 0
    right: 0
    top: 0
    bottom: 0
    background-color: rgba(0,0,0,0.40)
    z-index: 5
.masks
    width: 400px
    height: auto
    background: #fff
    border-radius: 5px
    left: 50%
    top: 50%
    position: absolute
    -webkit-transform:translate(-50%,-50%)
    -moz-transform:translate(-50%,-50%)
    -o-transform:translate(-50%,-50%)
    -ms-transform:translate(-50%,-50%)
    transform:translate(-50%,-50%)
    color:#71777c
    padding:30px
.close
    position: relative
    height: 30px
    overflow: hidden
    margin-bottom:20px
.close .name   
    float: left
    font-size: 18px
    color: #333
    line-height: 30px
    font-weight: bold
#close
    position: absolute
    right: 0
    font-size: 28px
    line-height: 16px
    top: 0
    line-height: 28px
    color:#8590a6
.item 
    display: -webkit-box
    display: -ms-flexbox
    display: flex
    align-items: center
    margin-top:20px
.item label
    width:100px
.input
    padding: 10px
    flex:1
    border: 1px solid #e9e9e9
    border-radius: 2px
    outline: none
    box-sizing: border-box
    display:block
    transition: all ease-in-out .15s
    -webkit-transition: all ease-in-out .15s
.input:focus
    box-shadow: 0 0 3px #007fff
button.btn
    width: 100%
    height: 36px
    color: #fff
    background-color: #007fff
    border-radius: 2px
    outline: none
    box-sizing: border-box
    cursor: pointer
    margin-top:20px
    font-size: 16px
.switch-state
    color: #007fff
    cursor: pointer
.error
    color:#ea5947

.cloud{
	width:100%;
	clear:both;
	overflow:hidden;
}
.cloud h3{
	line-height:40px;
	color:#38485A;
	font-size:18px;
	border-bottom:1px solid #E6E6E6;
	height:40px;
}
.cloud ul{
	margin:20px 0;
}
.cloud ul li { line-height: 24px; height: 24px; display: block; background: #999; float: left; padding: 3px 11px; margin: 10px 10px 0 0; border-radius: 8px; -moz-transition: all 0.5s; -webkit-transition: all 0.5s; -o-transition: all 0.5s; transition: all 0.5s; }
.cloud ul li a { color: #FFF }
.cloud ul li:nth-child(8n-7) { background: #8A9B0F }
.cloud ul li:nth-child(8n-6) { background: #EB6841 }
.cloud ul li:nth-child(8n-5) { background: #3FB8AF }
.cloud ul li:nth-child(8n-4) { background: #FE4365 }
.cloud ul li:nth-child(8n-3) { background: #FC9D9A }
.cloud ul li:nth-child(8n-2) { background: #EDC951 }
.cloud ul li:nth-child(8n-1) { background: #C8C8A9 }
.cloud ul li:nth-child(8n) { background: #83AF9B }
.cloud ul li:first-child { background: #036564 }
.cloud ul li:last-child { background: #3299BB }
.cloud ul li:hover { border-radius: 0; text-shadow: #000 1px 1px 1px }